@charset "UTF-8";
/* CSS Document */

/* Site:
 * Author: Malick Diomande
 * SMACSS Version of World Children Festival CSS Style Sheet
 * File Created: 2014-10-20
 * Design pattern: SMACSS (Scalable and Modular Architecture for CSS);
 *
 * Original Source File Created: 2014-09-04
 * Original Source File Last modified: 2014-10-09  
 * ----------------------------------------------------------------------------- */








/* ------------------------------------------------------------------------------
 * V - THEME RULES
 * ------------------------------------------------------------------------------
 * defines colours and images that give the application or site its look and feel
 * can affect any of the primary types
 * could override base styles like default link colour
 * could change module elements such as chrome colours and borders
 * could affect layout with different arrangements
 * could also alter how states look
 *
 * - Background
 * - Color
 * - Font
 * ------------------------------------------------------------------------------ */



/* SAMPLES 
--------------------------

in module-name.css
.mod {
    border: 1px solid;
}

in theme.css
.mod {
    border-color: blue;
}

font sizes
------------------------------------*/


/* Navigation
---------------------------------- */

/* -- Utilitilies and Search bar -- */
.navbar-util {
    color: #fff;
    font-size: 13px !important;
}

/* -- Main Global Nav -- */
.navbar-inverse {
    background-color: #0C090A;
    border-color: #080808;
}    
.navbar-inverse .navbar-brand {
    color: #f0ad4e; /* orange */
}
.navbar-inverse .navbar-brand strong {
    font-size: 190%; /* make the festival number bigger */
    font-weight: normal;
}
.navbar-inverse .navbar-nav>li>a {
    color: #428bca; /* blue */
/* color: #777; */
}

/* Icon Bar OR Hamburger Menu */
.navbar-inverse .navbar-toggle {
    border-color: #FFF380; /* #333 original */
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFF380; /* #fff original */
}


/* home-page background */
.home-page {    
    background: url(../img/pics/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Jumbotron
---------------------------------- */
.jumbotron {
    color: #FBF6D9;
    text-shadow: 1px 2px 0 #000;
}
.jumbotron .container {    
    background: rgba(0,0,0,.65);
}
.jumbotron p {
    font-family: 'Cuprum',sans-serif;
}
.jumbotron .container p {
    font-size: 24px;
}
.jumbotron .stress {
    color: #f0ad4e;
}


/* Main Content
---------------------------------- */
.main-content-wrapper {    
    background-color: #fff;
}

.lead {
    font-family: 'Coustard', serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px; /*14px original*/
    line-height: 1.7; /* 1.42857143 original */ 
    color: #333;
    background-color: #fff;
    text-align: justify;
}


/* Call-To ACtion
---------------------------------- */
.call-to-action-box{
    border-color: #eee;
}
.call-to-action-border {
    border-top-color: #f0ad4e;
}

/* Ads
---------------------------------- */
.img-border {
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -ms-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -0-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    margin-bottom: 20px;
}

/* Feature
---------------------------------- */
.feature-panel {
    background-image: url(../img/featureback.png);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    -ms-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    -0-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    box-shadow: 2px 3px 2px rgba(0,0,0,.3);
}
.feature-img1 {
    background: url(../img/feature/hillary-rodham-clinton-1.jpg) no-repeat center top;
}
.feature-img2 {
    background: url(../img/feature/betty-ford-2.jpg) no-repeat center top;
}
.feature-img3 {
    background: url(../img/feature/rosalynn-carter-1.jpg) no-repeat center top;
}
.feature-img {
    background-size: cover;
}
.badge {
    background: rgba(52,152,219,.65); /* #3498db */
    font-size: 11px; /* 13px original */
    line-height: 19px; /* 25, 70px original */
    color: #fff;
    text-align: center;
    white-space: normal; /* no-wrap original */
}
.feature-title {
    background: rgba(0,0,0,0.5);
    color: white;
    font-weight: 700;
}
.feature-text .blockquote {
    font-family: 'Shadows Into Light', cursive;
    font-size: 140%;
}


/* Footer
---------------------------------- */
.footer-bg-default {
    background: rgba(0,0,0,.85);
}
.footer-bg-pattern {
    background: url(../img/footerback.png);
}
.footer-border {
    color: #f0ad4e; /* orange */
}
.copyright-text {
    color: #f0ad4e; /* orange */
}
.fineprint {
    color: #ccc;
    font-size: 80%;
    font-style: italic;
}

/* Inner Page
---------------------------------- */
.inner-page header .container img {
    width: 100%;
}

.inner-page .page-title {
    border-bottom: 3px solid orange;
    color: #428bca;
}



/* Button
---------------------------------- */
button.btn-close {
    background: gray;    
    opacity: 1; /* neutralize bootstrap opacity on Close class (original .2) */
}

.jumbotron .btn {
    border-color: #FFFFC2;
}

main .btn {
    background-color: #f0f0f0;
}
main .btn:active {
    border-color: #ccc;
} 
main .btn-stand-out {
    background-color: #fff;
} /* Make buttons stand out with a different background and border color
     Can be used for Donation button for instancee */



/* All Titles
---------------------------------- */

/* -- jumbotron titles -- */
.jumbotron .title {
    font-family: 'Cuprum',sans-serif;
}
.jumbotron .title {
    font-weight: 400;
    letter-spacing: -1px;
}

/* -- main content and sidebar titles -- */
.section .title,
.infobox .title {
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 17px 0 12px;
    border-bottom: 1px solid;   
}
.section .title {
    font-size: 16px;
}
.infobox .title {
    font-size: .875em;
}
.infobox .title-small {
    font-weight: bold;
    letter-spacing: -.2px;
    color: #428bca;
}
.section .title,
.infobox .title {
    background-color: #eaeae4;
    border-color: #f0ad4e;
    color: #5a524d;
}

/* -- footer titles-- */
.footer-menu .title {
    color: #D6D6D6;
    border-color:  #4e4e4e;
}