@charset "UTF-8";
/* CSS Document */

/* Site:
 * Author: Malick Diomande
 * SMACSS Version of World Children Festival CSS Style Sheet
 * File Created: 2014-10-20
 * Design pattern: SMACSS (Scalable and Modular Architecture for CSS);
 *
 * Original Source File Created: 2014-09-04
 * Original Source File Last modified: 2014-10-09  
 * ------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------
 *  III - MODULE RULES
 * ------------------------------------------------------------------------------
 *
 * Used to lay MINOR elements out on the page
 * as well as any reusable parts of the design:
 *
 * For: - Carousel, Dialogs, Widgets,
 *      - Callout, Navigation Item, Lists
 *      - Buttons, Forms, Login Form, Tables etc. 
 *
 * Notes: 1) Avoided - IDs and stand-alone element selectors
 *        2) Used    - Only classes names
 *        3) Used    - Descendent or child selectors, preceeded with class names
 *
 * ------------------------------------------------------------------------------ */


/* SAMPLES 
--------------------------
 .module > h2 {
    padding: 5px;
}

.module span {
    padding: 5px;
}
-------------------------- */







/* Navbar
---------------------------------- */

/* Utilitilies and Search bar */
.navbar-util {
    color: #fff;
    margin-top: 10px;
    font-size: 13px !important;
}
    .navbar-util ul li {
        display: inline;
        padding: 0 10px;
    }
    .navbar-form {
        margin-top: 0;
        padding: 0
    }
@media (max-width: 414px) {
    .hidden-xs-portrait {
        display: none;
    } /* Hides the utility navigation bar on certain xs (Extra Small) devices, such as
       * small/low resolution phones so it does overflow the navigation background */
}
/* Main Global Nav */
.navbar {
    min-height: 110px; /* 50px original */
}
.navbar-inverse {
    background-color: #0C090A;
    border-color: #080808;
}
.navbar-toggle {
    margin-top:20px;
}
.navbar-nav {
    padding-top: 15px;
}
.navbar-brand {
    padding-top: 0;
    margin-top: -30px;
}
    @media (max-width: 414px) {
        .navbar-brand {
            padding-top: 0;
            margin-top: -50px;
        } /* Pull Brand up on on certain xs (Extra Small) devices, such as
           * small/low resolution phones so it does NOT overflow the navigation background */
    }

    @media (max-width: 355px) {
        .navbar-brand {
            padding-top: 0;
            margin-top: -65px;
        } /* Pull Brand up on on certain xs (Extra Small) devices, such as
           * small/low resolution phones so it does NOT overflow the navigation background */
    }
.navbar-inverse .navbar-brand {
    color: #f0ad4e; /* orange */
}
.navbar-inverse .navbar-brand strong {
    font-size: 190%; /* make the festival number bigger */
    font-weight: normal;
}
.navbar-inverse .navbar-nav>li>a {
    color: #428bca; /* blue */
/* color: #777; */
}


/* Jumbotron
---------------------------------- */
.jumbotron {
    display: block;
    position: relative;
    background: none;
    margin-bottom: 20px;
    min-height: 500px;
}
.jumbotron .container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 1em 2.5em;
}
.jumbotron .container p {
    margin-bottom: 30px;
}



/* Call-To ACtion
---------------------------------- */
.call-to-action-box{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid;
    border-top-width: 5px;
    border-radius: 3px;
}





/* Partners 
---------------------------------- */
#partners,
aside {
    margin-bottom: 20px;
}
#partners .row a {
    display: inline-block;
    margin-bottom: 10px;
}

/* Feature
---------------------------------- */
.feature-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
}
.feature-panel {
    background-image: url(../img/featureback.png);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    -ms-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    -0-box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    box-shadow: 2px 3px 2px rgba(0,0,0,.3);
    height: auto;
    padding-top: 15px;
    padding-bottom: 5px;
}
.img1 {
    background: url(../img/feature/hillary-rodham-clinton-1.jpg) no-repeat center top;
}
.img2 {
    background: url(../img/feature/betty-ford-2.jpg) no-repeat center top;
}
.img3 {
    background: url(../img/feature/rosalynn-carter-1.jpg) no-repeat center top;
}
.feature-img {
    background-size: cover;
    margin-top: -15px;
    min-height: 150px;
    width: 100%;
}
.badge {
    position: absolute;
    top: 20px;
    left: 35px;

    background: rgba(52,152,219,.65); /* #3498db */
    width: 60px; /* 70px original */
    height: 60px; /* 70px original */
    line-height: 19px; /* 25, 70px original */
    font-size: 11px; /* 13px original */
    color: #fff;
    text-align: center;
    border-radius: 100%;

    padding-top: 11px; /* 3px original */
    white-space: normal; /* no-wrap original */
}
.feature-title {
    background: rgba(0,0,0,0.5);
    top: 118px;
    padding: 6px;
    color: white;
    font-weight: 700;
    position: absolute;
    display: block;
    width: 150px;
}
.feature-text {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
}
.feature-text .blockquote {
    font-family: 'Shadows Into Light', cursive;
    font-size: 140%;
    padding: .5em .65em;
}





/* Form
---------------------------------- */

.form-intro {
    padding-bottom: 1.5em;
}




/* Footer
---------------------------------- */
.footer-menu .list {
    padding-left: 0;
}
.footer-menu .title {
    border-bottom: 1px solid;
    margin-bottom: 3px;
    padding-bottom: 4px;
}


/* Inner Page
---------------------------------- */
.inner-page .page-title {    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* Button
---------------------------------- */
.jumbotron button.close {
    background: gray;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.close  {
    opacity: 1; /* neutralize bootstrap opacity on Close class (original .2) */
}
.jumbotron .btn,
.jumbotron .btn:hover,
.jumbotron .btn:visited  {
    border-color: #FFFFC2;
    border-bottom: 3px solid #FFFFC2;
}
.jumbotron .btn:active {
    border-bottom: 1px solid #FFFFC2;
    margin-top: 2px;
}

main .btn {
    color: #333;
    background-color: #f0f0f0;
    border-color: #ccc;
    border-bottom: 3px solid;
}
main .btn:active {
    border-bottom: 1px solid #ccc;
    margin-top: 2px;
} /* to avoid other element around to move vertically on the page
   * when the button is pressed down, boder-bottom + margin-top =
   * border-bottom of the button is on a default mode */

main .donate {
    background-color: #fff;
    border-color: #222;
} /* making any donation button stand out
     with a different background and border color */

aside .btn {
    margin-top: 10px;
} /* so any button on the sidebar will span accross the entire width
   * of the sidebar and have an extra margin at the top to separate
   * from preceeding texts */

aside .btn:active {
    margin-top: 12px;
}

