@charset "UTF-8";
/* CSS Document */

/* Site:
 * Author: Malick Diomande
 * SMACSS Version of World Children Festival CSS Style Sheet
 * File Created: 2014-10-20
 * Design pattern: SMACSS (Scalable and Modular Architecture for CSS);
 *
 * Original Source File Created: 2014-09-04
 * Original Source File Last modified: 2014-10-09  
 * ------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------
 * VI - STATE CHANGES
 * ------------------------------------------------------------------------------
 * represented in either:
 * 1) class name (change happens with Javascript)
 * 2) pseudo-class (only style changes to elements that are descendants or siblings
                    of the element in which the pseudo-class applies)
 * 3) media query (viewport sizes and the like)
 *
 * ------------------------------------------------------------------------------ */

.is-hidden {    
    display: none;

    /*
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    */
}

@media (max-width: 414px) {
    .hidden-xs-portrait {
        display: none;
    } /* Hides the utility navigation bar on certain xs (Extra Small) devices, such as
       * small/low resolution phones so it does overflow the navigation background */
}

@media (max-width: 414px) {
    .navbar-brand {
        padding-top: 0;
        margin-top: -50px;
    } /* Pull Brand up on on certain xs (Extra Small) devices, such as
       * small/low resolution phones so it does NOT overflow the navigation background */
}

@media (max-width: 355px) {
    .navbar-brand {
        padding-top: 0;
        margin-top: -65px;
    } /* Pull Brand up on on certain xs (Extra Small) devices, such as
       * small/low resolution phones so it does NOT overflow the navigation background */
}
