@charset "UTF-8";
/* CSS Document */

/* Site:
 * Author: Malick Diomande
 * SMACSS Version of World Children Festival CSS Style Sheet
 * File Created: 2014-10-20
 * Design pattern: SMACSS (Scalable and Modular Architecture for CSS);
 *
 * Original Source File Created: 2014-09-04
 * Original Source File Last modified: 2014-10-09  
 * ------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------
 *  III - MODULE RULES
 * ------------------------------------------------------------------------------
 *
 * Used to lay MINOR elements out on the page
 * as well as any reusable parts of the design:
 *
 * Used for: - Carousel, Dialogs, Widgets,
 *           - Callout, Navigation Item, Lists
 *           - Buttons, Forms, Login Form, Tables etc. 
 *
 * Notes: 1) Avoided - IDs and stand-alone element selectors
 *        2) Used    - Only classes names
 *        3) Used    - Descendent or child selectors, preceeded with class names
 *
 * ------------------------------------------------------------------------------ */


/* SAMPLES 
--------------------------
 .module > h2 {
    padding: 5px;
}

.module span {
    padding: 5px;
}
-------------------------- */







/* Navbar
---------------------------------- */

/* -- Utilitilies and Search bar -- */
.navbar-util {
    margin-top: 10px;
}
    .navbar-form {
        margin-top: 0;
        padding: 0
    }


/* -- Main Global Nav -- */
.navbar {
    min-height: 110px; /* 50px original */
}
.navbar-toggle {
    margin-top:20px;
}
.navbar-nav {
    padding-top: 15px;
}
.navbar-brand {
    padding-top: 0;
    margin-top: -30px;
}



/* Jumbotron
---------------------------------- */
.jumbotron {
    display: block;
    position: relative;
    background: none;
    margin-bottom: 20px;
    min-height: 500px;
}
    .jumbotron .container {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        padding: 1em 2.5em;
    }
        .jumbotron .container p {
            margin-bottom: 30px;
        }



/* Call-To ACtion
---------------------------------- */
.call-to-action-box{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid;
    border-top-width: 5px;
    border-radius: 3px;
}


/* Partners 
---------------------------------- */
.partners {
    margin-bottom: 20px;
}
    .partners .row a {
        display: inline-block;
        margin-bottom: 10px;
    }


/* Feature
---------------------------------- */
.feature-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
}

.feature-panel {
    height: auto;
    padding-top: 15px;
    padding-bottom: 5px;
}
.feature-img {
    margin-top: -15px;
    min-height: 150px;
    width: 100%;
}
.badge {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 60px; /* 70px original */
    height: 60px; /* 70px original */
    border-radius: 100%;
    padding-top: 11px; /* 3px original */
}
.feature-title {
    top: 118px;
    padding: 6px;
    position: absolute;
    display: block;
    width: 150px;
}
.feature-text {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
}
.feature-text .blockquote {
    padding: .5em .65em;
}


/* Form
---------------------------------- */

.form-intro {
    padding-bottom: 1.5em;
}


/* Footer
---------------------------------- */
.footer-menu .list {
    padding-left: 0;
}
.footer-menu .title {
    border-bottom: 1px solid;
    margin-bottom: 3px;
    padding-bottom: 4px;
}

/* Inner Page
---------------------------------- */
.inner-page .page-title {    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}



/* Button
---------------------------------- */
button.btn-close {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.btn,
.btn:hover,
.btn:visited  {
    border-bottom: 3px solid;
}

/* to avoid other element around to move vertically on the page
   * when the button is pressed down, boder-bottom + margin-top =
   * border-bottom of the button when on default :link mode */
.sidebar .btn {
    margin-top: 10px;
} /* so any button on the sidebar will have an extra margin at the top to separate
   * from preceeding texts */